.aboutMainDiv {
	padding-top: 0.7rem;
	z-index: 5;
}

.aboutBox {
	z-index: 5;
	align-items: center;
	direction: rtl;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	margin: 0 auto;
	border-radius: 1rem;
	border: 10px solid rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
		0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
		0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background-color: #f5f5f5fa;
	width: 21rem;
	margin-top: 1rem;
}

.aboutBox img {
	margin-top: 2rem;
	width: 14rem;
	height: 14rem;
	/* border-radius: 50rem; */

	object-fit: cover;
}
.mainText {
	color: rgb(0, 0, 0);
	text-align: center;
	direction: rtl;
	align-content: center;
	width: 100%;
}
/* .title {
	font-size: 3rem;
	font-family: "Dancing Script", cursive;
	margin: 0;
	font-size: 6rem;
} */

.peragraph1 {
	font-family: "Rubik", sans-serif;
	font-size: 0.9rem;
	margin: 0 3rem;
	padding: 16px 0;
}
